html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  background: white;
  color: #69707a;
  background-color: #f5f7fa; }

a {
  color: inherit;
  text-decoration: none; }

button {
  display: inline-block;
  padding: 0.3em;
  color: inherit;
  background: none;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer; }

header {
  color: white; }
  header .logo {
    padding: 2em;
    background-image: linear-gradient(to bottom, #AC219C 0%, #EB3E58 100%); }
    header .logo img {
      max-width: 100%;
      margin: 1em 0; }
  header .intro {
    background: #1d2044;
    padding: 1em;
    text-align: center;
    line-height: 1.5; }
    header .intro a {
      border-bottom: 1px solid; }

header > div, main, footer {
  max-width: 1200px;
  margin: auto; }

main:after {
  content: "";
  display: block;
  clear: both; }

.item {
  background-color: #f5f7fa;
  width: 100%;
  position: relative;
  float: left; }
  @media (min-width: 400px) {
    .item {
      width: 50%; } }
  @media (min-width: 800px) {
    .item {
      width: 33.333%; } }
  .item .canvas {
    background: #dedede;
    font-size: 0;
    position: relative; }
    .item .canvas canvas {
      width: 100% !important;
      height: auto !important;
      transition: all 0.3s ease-in-out; }
    .item .canvas .paused {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      opacity: 0.7; }
      .item .canvas .paused i {
        font-size: 50px; }
      .item .canvas .paused div {
        font-size: 14px;
        margin-top: 1em;
        padding: 0.3em; }
  .item .bottom {
    position: relative;
    height: 1.9em; }
    .item .bottom > div {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.3em; }
    .item .bottom button, .item .bottom a {
      padding: 0.3em; }
    .item .bottom .ingrid .love {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
    .item .bottom .floating {
      opacity: 0;
      display: none; }

footer {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 120px;
  opacity: 0.8; }

#bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-top: 1px solid #b7b7b7;
  background: #f5f7fa; }
  #bottom .current {
    position: relative; }
    #bottom .current .playing {
      padding: 0.6em;
      margin: 0 2.5em;
      text-align: center; }
    #bottom .current button {
      position: absolute;
      top: 0;
      padding: 0.45em; }
    #bottom .current .prev {
      left: 0; }
    #bottom .current .next {
      right: 0; }
  #bottom .progress {
    height: 10px;
    background: red;
    position: relative; }
    #bottom .progress div {
      background: green;
      height: 100%;
      width: 40%; }
    #bottom .progress input {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0; }
  #bottom .controls {
    background: #1d2044;
    color: white;
    padding: 0.3em 90px 0 0.3em;
    text-align: right;
    overflow: hidden;
    position: relative; }
    #bottom .controls a {
      float: left;
      padding: 0.3em; }
    #bottom .controls .primary {
      background: #1fc8db;
      color: #222324;
      width: 150px;
      height: 150px;
      position: absolute;
      text-align: left;
      right: -80px;
      top: 50%;
      margin-top: -75px;
      line-height: 150px;
      border-radius: 100px;
      text-indent: 10px; }
      #bottom .controls .primary.login {
        line-height: 142px; }

#media {
  width: 200px;
  position: fixed;
  bottom: 3em;
  right: 1em;
  z-index: 5;
  border: 1px solid #b7b7b7;
  background: #f5f7fa;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px; }
  #media .type {
    text-align: center; }
    #media .type input {
      display: none; }
    #media .type label {
      display: inline-block;
      width: 30px;
      padding: 0.3em; }
    #media .type input:checked + label {
      color: red; }
  #media .options > div {
    padding: 0.3em; }
  #media .volume {
    width: 100%; }
  #media:before, #media:after {
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 10px solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: -1px -10px; }
  #media:before {
    border-top-color: #b7b7b7;
    margin-top: 1px; }
  #media:after {
    border-top-color: #f5f7fa; }
