$pad: 0.3em;
$maindark: #1d2044;
$textcolor: #69707a;

html, body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.3;
	background: white;
	color: $textcolor;
	background-color: #f5f7fa;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	display: inline-block;
	padding: $pad;
	color: inherit;
	background: none;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	outline: none;
}

nav {
	text-align: right;
	position: relative;
	color: white;
	padding: $pad;
	z-index: 3;
	.cover {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
	&, .cover {
		background: #1d2044;
	}
	a, .dropdown {
		display: inline-block;
	}
	a, .dropdown span {
		padding: $pad;
		position: relative;
		z-index: 3;
	}
	.dropdown {
		position: relative;
		span {
			cursor: default;
		}
		div {
			position: absolute;
			right: 0;
			top: 1em+1*$pad;
			text-align: left;
			padding-top: 2*$pad;
			background: white;
			transition: 0.3s transform ease-in-out;
			transform: translateY(-100%) translateY(-20px);
			z-index: 1;
			box-shadow: 0 4px 10px rgba(0,0,0,0.5);
			a {
				display: block;
				width: 160px;
				line-height: 1;
				padding: $pad;
				color: $textcolor;
				&:hover {
					color: $maindark;
				}
			}
		}
		&:hover {
			span {
				position: relative;
				background: white;
				color: $textcolor;
			}
			div {
				transform: none;
			}
		}
	}
}

header {
	color: white;
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #AC219C), color-stop(1, #EB3E58) );
	background-image: -o-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
	background-image: -moz-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
	background-image: -webkit-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
	background-image: -ms-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
	background-image: linear-gradient(to bottom, #AC219C 0%, #EB3E58 100%);
	> div {
		min-height: 120px;
		padding: 2em;
		max-width: 600px;
		margin: auto;
		filter: drop-shadow(0 0 20px rgba(0,0,0,0.5));
		img {
			width: 120px;
			max-width: 100%;
			position: absolute;
			display: block;
		}
		.intro {
			margin-left: 120px;
			padding-left: 1em;
	 		h1 {
				line-height: 1;
				margin: 0;
			}
			p {
				margin-bottom: 0;
			}
		}
		@media screen and (max-width: 600px) {
			padding: $pad;
			img {
				position: static;
				margin: 1-$pad auto;
			}
			.intro {
				margin: 0;
				padding: 0 0 1-$pad 0;
				text-align: center;
			}
		}
	}
	a {
		border-bottom: 1px solid;
	}
}

main, footer {
	max-width: 1200px;
	margin: auto;
}

main {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.dashboard {
	padding-right: 1em;
}

.item {
	background-color: #f5f7fa;
	width: 100%;
	position: relative;
	padding: 1em 0 0 1em;
    box-sizing: border-box;
	@media (min-width: 400px) {
		width: 50%;
	}
	@media (min-width: 800px) {
		width: 33.333%;
	}
	float: left;
	.bottom {
		position: relative;
		.text {
			padding: $pad;
			white-space: nowrap;
			overflow: hidden;
			margin-right: 50px;
			text-overflow: ellipsis;
		}
		.likes {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 50px;
			text-align: right;
			padding-right: 1.6em;
			button {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0.2em;
				&, i {
					transition: all 0.3s cubic-bezier(0.730, 0.145, 0.465, 1.650);
					font-size: 1em;
				}
				&:hover {
					transform: scale(1.2);
					&, > i {
						color: #ff00ff !important; // overwrites inline
					}
				}
			}
		}
	}
}

.canvas {
	background: #dedede;
	font-size: 0;
	position: relative;
	canvas {
		width: 100% !important; // overwrite the styling from p5
		height: auto !important;
		transition: all 0.3s ease-in-out;
	}
	.status {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255,0.8);
		> div {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			width: 100%;
			opacity: 0.7;
			i {
				font-size: 50px;
			}
			div {
				font-size: 14px;
				margin-top: 1em;
				padding: $pad;
			}
		}
	}
}

footer {
	text-align: center;
	padding: 4em $pad 120px $pad;
	opacity: 0.8;
}

#bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	border-top: 1px solid #b7b7b7;
	background: #f5f7fa;
	.current {
		position: relative;
		.playing {
			padding: $pad*2;
			margin: 0 2.5em;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		button {
			position: absolute;
			top: 0;
			padding: $pad*1.5;
			&:hover {
				color: $maindark;
			}
		}
		.prev {
			left: 0;
		}
		.next {
			right: 0;
		}
	}
	.progress {
		position: relative;
		background: #AC219C;
		height: 10px;
		margin-top: -5px;
		transition: transform 0.3s ease-in-out;
		transform: translateY(4px) scaleY(0.5);
		z-index: 2;
		&:hover {
			transform: none;
		}
		> div {
			background: #EB3E58;
			height: 100%;
			width: 40%;
			position: relative;
			> div {
				position: absolute;
				top: 50%;
				right: 0;
				height: 16px;
				width: 16px;
				margin: -8px;
				background: #8f0f22;
				border-radius: 99px;
				opacity: 0;
				transform: scale(0.4);
				transition: all 0.3s ease-in-out;
			}
		}
		&:hover > div > div {
			opacity: 1;
			transform: scale(1);
		}
		input {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			z-index: 3;
		}
	}
	.controls {
		background: $maindark;
		color: white;
		padding: $pad 80px $pad $pad;
		text-align: right;
		overflow: hidden;
		position: relative;
		a {
			float: left;
			padding: $pad;
		}
		button {
			opacity: 0.9;
			&.open {
				opacity: 1;
			}
		}
		.primary {
			background: #1fc8db;
			color: #222324;
			width: 150px;
			height: 150px;
			position: absolute;
			text-align: left;
			right: -80px;
			top: 50%;
			margin-top: -75px;
			line-height: 150px;
			border-radius: 100px;
			text-indent: 10px;
			cursor: pointer;
			transition: all 0.1s ease-in-out;
			i {
				transition: transform 0.2s ease-in-out;
			}
			&.close i {
				transform: rotate(-135deg);
			}
			> div {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				text-indent: 0;
				left: 0;
				width: 70px;
				text-align: center;
				transition: all 0.1s ease-in-out;
			}
			&:hover {
				transform: translateX(-6px);
				> div {
					transform: translateY(-50%) translateX(3px);
				}
			}
		}
	}
}

#media {
	width: 200px;
	position: fixed;
	bottom: 3em;
	right: 12px;
	z-index: 15;
	border: 1px solid #b7b7b7;
	background: #f5f7fa;
	box-shadow: 0 4px 7px rgba(0,0,0,0.3), 0 5px 10px rgba(0,0,0,0.1);
	border-radius: 3px;
	text-align: center;
	transition: all 0.3s ease-in-out;
	transform: scale(0.1) translateY(40px);
    transform-origin: 57% bottom; // (200-86)/200*100
	opacity: 0;
	visibility: hidden;
	padding: $pad 0;
	&.open {
		transform: none;
		opacity: 1;
		visibility: visible;
	}
	.cover {
		position: absolute;
		right: 86px;
		top: 100%;
		width: 40px;
		height: 20px;
		margin-right: -20px;
	}
	.type {
		input {
			display: none;
		}
		label {
			display: inline-block;
			width: 30px;
			padding: 0.5em;
			transition: all 0.2s ease-in-out;
			cursor: pointer;
		}
		input:checked + label {
			color: $maindark;
		}
	}
	.options {
		button {
			display: block;
			margin: 0.3em auto 0 auto;
			border: 1px solid;
			border-radius: 3px;
			padding: 0.3em 1em;
		}
		.music {
			text-align: left;
			.hint {
				text-align: center;
				padding: 2em 0.5em;
				border: 3px dashed;
				margin: 0.3em;
				border-radius: 10px;
			}
			> div {
				padding: $pad;
				cursor: pointer;
				&:hover {
					background: rgba(0,0,0,0.04);
				}
				&.current {
					background: rgba(0,0,0,0.1);
					color: $maindark;
				}
			}
		}
		.mic {
			padding: $pad;
			button {
				display: block;
				margin-top: 1em;
			}
		}
		.file {
			padding: $pad;
		}
	}
	.volume {
		padding: 0 $pad;
		input {
			width: 100%;
		}
	}
	&:before, &:after {
		display: block;
		width: 0;
		height: 0;
		content: "";
		border: 10px solid transparent;
		position: absolute;
		top: 100%;
		right: 86px;
		margin: -1px -10px;
	}
	&:before {
		border-top-color: #b7b7b7;
		margin-top: 1px;
	}
	&:after {
		border-top-color: #f5f7fa;
	}
}

$pad: 0.3em;

#editor {
	&, .top, #code {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

#editor {
	transition: all 0.3s ease-in-out;
	transform: scale(0) translateY(100%) translateY(200px);
	transform-origin: bottom right;
	visibility: hidden;
	position: fixed;
	bottom: 88px;
	z-index: 10;
	opacity: 0;
	&.shown {
		transform: none;
		opacity: 1;
		visibility: visible;
	}
	.menubar {
		input, button {
			padding: $pad;
			font-size: 1.2em;
			border: 0;
			line-height: 1;
			display: block;
			color: $maindark;
		}
		input {
			position: absolute;
			width: 100%;
			box-sizing: border-box;
			padding-right: $pad*2+3;
		}
		.buttons {
			position: absolute;
			right: 0;
			i {
				font-size: 1em;
				line-height: 1.2;
			}
			button {
				cursor: pointer;
			}
			.run {
				padding: $pad 2em;
			}
		}
	}
	#livepreview {
		position: absolute;
		bottom: 10px;
		right: 10px;
		width: 300px;
		max-width: 90%;
		color: $textcolor;
	}
	#code {
		margin: 0;
		top: 34px;
		.readonly {
			background: red;
			opacity: 0.2;
			position: absolute;
		}
	}
}

button.login{
		appearance: none;
		outline: 0;
		background-color: white;
		border: 0;
		padding: 10px 15px;
		color: #1fc8db;
		border-radius: 3px;
		width: 250px;
		cursor: pointer;
		font-size: 18px;
		transition-duration: 0.25s;
		display: block;
		margin: 0 auto 10px auto;

		&:hover{
			background-color: rgb(245, 247, 249);
		}
}

form{
	padding: 20px 0;
	position: relative;
	z-index: 2;

input{
		display: block;
		appearance: none;
		outline: 0;
		width: 250px;
		border-style: none;

		border-radius: 3px;
		padding: 10px 15px;
		margin: 0 auto 10px auto;
		display: block;
		text-align: center;
		font-size: 18px;

		background-color: white;
		opacity: 0.6;
	 filter: alpha(opacity=60);

		transition-duration: 0.25s;
		font-weight: 300;

		&:hover{
			background-color: white;
		}

		&:focus{
			background-color: fade(white, 40%);
			width: 300px;

			color: #1fc8db;
		}
	}
}

.loginmodal{
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #AC219C), color-stop(1, #EB3E58) );
	background-image: -o-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
	background-image: -moz-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
	background-image: -webkit-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
	background-image: -ms-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
	background-image: linear-gradient(to bottom, #AC219C 0%, #EB3E58 100%);
}
