$pad: 0.3em;

html, body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.3;
	background: white;
	color: #69707a;
	background-color: #f5f7fa;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	display: inline-block;
	padding: $pad;
	color: inherit;
	background: none;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
}

header {
	color: white;
	.logo {
		padding: 2em;
		background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #AC219C), color-stop(1, #EB3E58) );
		background-image: -o-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
		background-image: -moz-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
		background-image: -webkit-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
		background-image: -ms-linear-gradient(bottom, #AC219C 0%, #EB3E58 100%);
		background-image: linear-gradient(to bottom, #AC219C 0%, #EB3E58 100%);
		img {
			width: 100%;
			max-width: 500px;
			margin: 1em auto;
			display: block;
		}
	}
	.intro {
		background: #1d2044;
		padding: 1em;
		text-align: center;
		line-height: 1.5;
		a {
			border-bottom: 1px solid;
		}
		p {
			max-width: 500px;
			margin: 0 auto;
		}
	}
}

header > div, main, footer {
	max-width: 1200px;
	margin: auto;
}

main {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.item {
	background-color: #f5f7fa;
	width: 100%;
	position: relative;
	@media (min-width: 400px) {
		width: 50%;
	}
	@media (min-width: 800px) {
		width: 33.333%;
	}
	float: left;
	.canvas {
		background: #dedede;
		font-size: 0;
		position: relative;
		canvas {
			width: 100% !important; // overwrite the styling from p5
			height: auto !important;
			transition: all 0.3s ease-in-out;
		}
		.paused {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			width: 100%;
			opacity: 0.7;
			i {
				font-size: 50px;
			}
			div {
				font-size: 14px;
				margin-top: 1em;
				padding: $pad;
			}
		}
	}
	.bottom {
		position: relative;
		.text {
			padding: $pad;
			white-space: nowrap;
			overflow: hidden;
			margin-right: 50px;
			text-overflow: ellipsis;
		}
		.likes {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 50px;
			text-align: right;
			padding-right: 1.6em;
			button {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0.2em;
				i {
					font-size: 1em;
				}
			}
		}
	}
}

footer {
	text-align: center;
	padding-top: 4em;
	padding-bottom: 120px;
	opacity: 0.8;
}

#bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	border-top: 1px solid #b7b7b7;
	background: #f5f7fa;
	.current {
		position: relative;
		.playing {
			padding: $pad*2;
			margin: 0 2.5em;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		button {
			position: absolute;
			top: 0;
			padding: $pad*1.5;
		}
		.prev {
			left: 0;
		}
		.next {
			right: 0;
		}
	}
	.progress {
		position: relative;
		background: #AC219C;
		height: 6px;
		transition: height 0.3s ease-in-out;
		&:hover {
			height: 10px;
		}
		> div {
			background: #EB3E58;
			height: 100%;
			width: 40%;
			position: relative;
			> div {
				position: absolute;
				top: 50%;
				right: 0;
				height: 16px;
				width: 16px;
				margin: -8px;
				z-index: 2;
				background: #8f0f22;
				border-radius: 99px;
				opacity: 0;
				transform: scale(0.4);
				transition: all 0.3s ease-in-out;
			}
		}
		&:hover > div > div {
			opacity: 1;
			transform: scale(1);
		}
		input {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			z-index: 3;
		}
	}
	.controls {
		background: #1d2044;
		color: white;
		padding: $pad 80px $pad $pad;
		text-align: right;
		overflow: hidden;
		position: relative;
		a {
			float: left;
			padding: $pad;
		}
		.primary {
			background: #1fc8db;
			color: #222324;
			width: 150px;
			height: 150px;
			position: absolute;
			text-align: left;
			right: -80px;
			top: 50%;
			margin-top: -75px;
			line-height: 150px;
			border-radius: 100px;
			text-indent: 10px;
			> div {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				text-indent: 0;
				left: 0;
				width: 70px;
				text-align: center;
			}
		}
	}
}

#media {
	width: 200px;
	position: fixed;
	bottom: 3em;
	right: 12px;
	z-index: 5;
	border: 1px solid #b7b7b7;
	background: #f5f7fa;
	box-shadow: 0 4px 7px rgba(0,0,0,0.3), 0 5px 10px rgba(0,0,0,0.1);
	border-radius: 3px;
	text-align: center;
	strong {
		text-transform: uppercase;
		font-size: 0.8em;
		padding: $pad;
		display: block;
	}
	.type {
		input {
			display: none;
		}
		label {
			display: inline-block;
			width: 30px;
			padding: 0.5em;
			transition: all 0.2s ease-in-out;
			cursor: pointer;
		}
		input:checked + label {
			color: #1d2044;
		}
	}
	.options {
		button {
			display: block;
			margin: 0.3em auto 0 auto;
			border: 1px solid;
			border-radius: 3px;
			padding: 0.3em 1em;
		}
		.music {
			text-align: left;
			> div {
				padding: $pad;
				cursor: pointer;
				&:hover {
					background: rgba(0,0,0,0.04);
				}
				&.current {
					background: rgba(0,0,0,0.1);
					color: #1d2044;
				}
			}
		}
		.mic {
			padding: $pad;
			button {
				display: block;
				margin-top: 1em;
			}
		}
		.file {
			margin: $pad;
			padding: 2em $pad;
			border-radius: 5px;
			border: 2px dashed;
			position: relative;
			overflow: hidden;
			button {
				display: inline;
				padding: 0.3em 0.5em;
			}
			input {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				border: 999px solid;
				opacity: 0;
				cursor: pointer;
			}
		}
	}
	.volume {
		padding: 0 $pad;
		input {
			width: 100%;
		}
	}
	&:before, &:after {
		display: block;
		width: 0;
		height: 0;
		content: "";
		border: 10px solid transparent;
		position: absolute;
		top: 100%;
	    right: 86px;
		margin: -1px -10px;
	}
	&:before {
		border-top-color: #b7b7b7;
		margin-top: 1px;
	}
	&:after {
		border-top-color: #f5f7fa;
	}
}
