<div class="submission">
    <span ng-repeat="item in items">
        <div class="submission detail">
            <img src="" class="detail-item image"></img> 
        </div>
        <div class="submission detail">
            <div class="detail-item name">{{item.name}}</div>
            <div class="detail-item description">{{item.description}}</div>
            <div class="detail-item author">{{item.author}}</div>
        </div>
        <div class="submission detail">
            <span class="detail-item likes-diplay">{{item.likes}}</div>
            <input class="detail-item like-button">Like</div>
        </div>
    </span>
</div>