<div id="editor" class="page">
  <div class="ui purple button" ng-click="updateCode()">
    Submit
  </div>
  <div class="divided title" ng-bind="title" contenteditable="true" style="outline: none"></div>
  <div id="my-code-wrapper" class="code-editor" ng-bind="editorCode" ng-show="initializeEditor()"></div>
</div>

<style media="screen">
.CodeFlask__pre {
	position: relative;
}

.CodeFlask__textarea, .CodeFlask__pre, .CodeFlask__code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}
</style>
