<div id="editor" class="page" ng-init="initializeEditor()">
  <div class="ui purple button" ng-click="updateCode()">
    Submit
  </div>
  <input class="divided title" ng-model="title" style="outline: none"></input>
  <div id="editorwrapper" class="code-editor" ng-bind="editorCode" ng-show="initializeEditor()"></div>
</div>

<style media="screen">
  .CodeFlask__pre {
  	position: relative;
  }

  .CodeFlask__textarea, .CodeFlask__pre, .CodeFlask__code {
      white-space: pre-wrap !important;
      word-wrap: break-word !important;
  }
</style>
