<div id="dashboard" class="page">
  <div class="divided title">
    Dashboard
  </div>
  <div class="ui stackable centered page grid" ng-if= "!user.verified">
    <div class="column">
      <div class="ui status segment">
        <div
          class="description">
          <p>
            <strong>
            Your email address ({{user.email}}) is not yet verified.
            </strong>
          </p>
          <p>
            YOU ARE UNVERIFIED BEEP BOOP
          </p>
          <div class="ui purple button" ng-click="resendEmail()">
            Resend verification email
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui stackable centered page grid" >
    <div class="column">
      <div class="submission" ng-init="grabSubmissions()">
        <span ng-repeat="item in users">
              <p>{{item.email}}</p>
          <!-- <div class="submission detail">
              <img src="" class="detail-item image"></img>
          </div>
          <div class="submission detail">
              <p class="detail-item name">{{item.title}}</p>
              <div class="detail-item author">{{item.email}}</div>
          </div>
          <div class="submission detail">
              <span class="detail-item likes-diplay">{{item.likes.length}}</span>
              <input class="detail-item like-button">Like</input>
          </div> -->
        </span>
      </div>
    </div>
  </div>
</div>
